header {
font-size: 24;
font-family: Cambria, sans-serif;
font-weight: bolder;
margin: 0 auto;
}

body {
    background-color: seagreen;
}

.bio {
    font-size: 14;
    font-family: Cambria, sans-serif;
}

.photo {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 5 px groove ivory;
    border-radius: 50%;
}
